* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: 'Monaco', monospace;
}

.container {
  width: 100%;
  position: relative;
  font-size: 0;
}

.subheader {
  font-size: 1rem;
  padding: 15px;
}

.section {
  font-size: 1rem;
  padding: 15px;
  margin: 15px;
  border: dashed 3px #777;
  border-radius: 10px;
  box-sizing: border-box;
}

.element {
  font-size: 1rem;
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  margin: 5px;
}

span {
  background-color: #cecece;
  border-radius: 3px;
  display: inline-block;
  padding: 0 3px;
}
